<div id="linked_post">
    {% for post in site.posts %}
        {% assign page_slug = page.url | replace: "/", "" %}
        {% if post.author_username == page_slug %}
            <div class="linked_post_div"  style="margin-bottom: 0.5em;">
                <article class="post">
                    <h3><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h3>
                    <p style="color: #969494; margin: 10px 0px; font-size: 18px;">
                        {% for category in post.categories %}
                            <a href="{{site.baseurl}}/categories/#{{category|slugize}}"
                            style="background: #4CAF50; color: #fff;
                            text-decoration: none; padding: 2px 13px; border-radius: 50px;
                            font-size: 14.5px;">#{{ category }}</a>
                        {% endfor %}
                        <br><br>
                        {{ post.date | date: "%B %e, %Y" }}
                        {% include read_time.html content=post.content %}
                    </p>
                </article>
            </div>
        {% endif %}
    {% endfor %}
</div>