<div class="original_source">
  {% assign author_username = include.author_username %}
  {% assign author_name = include.author_name %}
  {% assign canonical_url = include.canonical_url %}
  {% for author_page in site.authors %}
    {% assign author_page_username = author_page.permalink | replace: "/", "" %}
    {% if author_username == author_page_username %}
      <div class="linked_post_div" style="margin: 10px 0px; font-size: 14.5px;">
        <article class="post">
          <h3>About Author</h3>
          <h5><a href="{{ author_page.permalink }}">{{ author_page.title }}</a></h5>
          {% if author_page.description %}
            {{ author_page.description }}
            <br><br>
          {% else %}
            {{ author_page.excerpt }}
          {% endif %}
          {% if author_username and author_username != blank and author_name and author_username != blank and canonical_url %}
            Original Source: <a href="{{ canonical_url }}">Original Post</a>
          {% endif %}
        </article>
      </div>
    {% endif %}
  {% endfor %}
</div>