<div id="change">
    <strong>Edit Post on GitHub:</strong>
    <p>This post is available on GitHub, If you found something off, <a href="{{include.file}}">Please open
        a PR on GitHub.</a>
    </p>
</div>
<style type="text/css">
    div#change {
        margin: 2em 0 !important;
        padding: 1em;
        color: #494e52;
        font-family: Georgia,Times,serif;
        font-size: .75em !important;
        text-indent: initial;
        background-color: #ecf6ec;
        border-radius: 4px;
        box-shadow: 0 1px 1px rgba(63,166,63,0.25);
    }
</style>