<div id="feedback">
    <strong>Please share your Feedback:</strong>
    <p>Did you enjoy reading or think it can be improved? Don’t forget to leave your thoughts in the comments section below!
        If you liked this article, please share it with your friends, and read a few more!
    </p>
</div>
<style type="text/css">
    div#feedback {
        margin: 2em 0 !important;
        padding: 1em;
        color: #494e52;
        font-family: Georgia,Times,serif;
        font-size: .75em !important;
        text-indent: initial;
        background-color: #ecf6ec;
        border-radius: 4px;
        box-shadow: 0 1px 1px rgba(63,166,63,0.25);
    }
</style>