<div class="col" style="float: left;">
    <h1><strong>Categories</strong></h1>
    <ul>
      <li><a href="https://ranvir.xyz/blog/python">Python</a></li>
      <li><a href="https://ranvir.xyz/blog/javascript">JavaScript</a></li>
      <li><a href="https://ranvir.xyz/blog/machinelearning">Data Science</a></li>
      <li><a href="https://ranvir.xyz/blog/archive">Archives</a></li>
    </ul>
</div>
<div class="col" style="float: right;">
    <h1><strong>Other Categories</strong></h1>
    <ul>
      <li><a href="https://ranvir.xyz/blog/java">Java</a></li>
      <li><a href="https://ranvir.xyz/blog/blogging">Blogging</a></li>
      <li><a href="https://ranvir.xyz/blog/seo-marketing">SEO</a></li>
    </ul>
</div>
<div class="clearfix"></div>
<hr>
<style>
    .wrapper-footer {
        background: rgba(0, 0, 0, 0.9);
    }
    .footer .col {
        font-family: Arial, Helvetica, sans-serif;
        width: 190px;
        height: auto;
        float: left;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        padding: 0px 20px 20px 20px;
    }
    .footer .col h1 {
        margin: 0;
        padding: 0;
        font-family: inherit;
        font-size: 12px;
        line-height: 17px;
        padding: 20px 0px 5px 0px;
        color: #ccc;
        font-weight: normal;
        letter-spacing: 0.250em;
    }
    .footer .col ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    .footer .col ul li {
        color: #999999;
        font-size: 14px;
        font-family: inherit;
        font-weight: bold;
        padding: 5px 0px 5px 0px;
        cursor: pointer;
        transition: .2s;
        -webkit-transition: .2s;
        -moz-transition: .2s;
    }

    .footer .col ul li:hover {
        color: #ffffff;
        transition: .1s;
        -webkit-transition: .1s;
        -moz-transition: .1s;
    }
    .footer .col ul li a {
        color: inherit;
    }
    .clearfix {
        clear: both;
    }
    @media only screen and (max-width: 950px) {
        .footer .col {
            width: 33%;
        }
        .footer .col h1 {
            font-size: 14px;
        }
        .footer .col ul li {
            font-size: 13px;
        }
    }
    @media only screen and (max-width: 500px) {
        .footer .col {
            width: 50%;
        }
        .footer .col h1 {
            font-size: 14px;
        }
        .footer .col ul li {
            font-size: 13px;
        }
    }
    @media only screen and (max-width: 340px) {
        .footer .col {
            width: 100%;
        }
    }
</style>
