<div class="left-bar">
{% for post in site.posts %}
  {% assign series_url = "" | split: ',' %}
  {% assign series_title = "" | split: ',' %}
  {% if post.series_unique_code == page.series_unique_code %}
    <a href="{{ post.url }}"><strong>{{ post.title }}</strong></a><br>
    {% assign series_url = series_url | push: post.url %}
    {% assign series_title = series_title | push: post.title %}
  {% endif %}
{% endfor %}
</div>

<style>
  .left-bar {
    visibility: hidden;
    width: 0px;
    height: 0px;
  }
  @media (min-width: 1150px) {
    .left-bar {
      visibility: visible;
      position: absolute;
      top: 5%;
      width: 180px;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      left: 0px;
      font-size: 0.7em;
    }
  }
</style>
