<div id="change">
    <strong>Get Updates on Telegram</strong>
    <p>
        Get latest updates directly delivered to your inbox
    </p>
    <button id="telegram-chat-button">
        <a target="_blank" href="https://t.me/{{ site.telegram_bot }}">
            <strong id="telegram-text">Get Updates on Telegram</strong>
        </a>
    </button>
    <p class="powered-para">powered by <a href="https://notifier.taskforge.co/subscription">GoWeasel</a></p>
</div>
<style type="text/css">
    #telegram-chat-button {
        background: #2481CC;
        border-radius: 0.3em;
        border: 0px;
        padding: 18px 18px;
        color: #ffffff;
        display: inline-block;
        font-family: Georgia,Times,serif;
        text-align: center;
    }

    #telegram-text {
        color: #fff;
    }

    div#change {
        margin: 2em 0 !important;
        padding: 1em;
        color: #494e52;
        font-family: Georgia,Times,serif;
        font-size: .75em !important;
        text-indent: initial;
        background-color: #ecf6ec;
        border-radius: 4px;
        box-shadow: 0 1px 1px rgba(63,166,63,0.25);
        text-align: center;
    }

    .powered-para {
        margin: 0px;
        text-align: right;
        font-size: 0.7em;
        padding: 0px;
        margin-top: 1em;
    }
</style>