<div id="change">
    <strong>Get Updates on Telegram</strong>
    <p>We share the every post update using our telegram bot,
        <a target="_blank" href="https://t.me/ranvirxyz_bot"
        onclick="gtag('event', 'Join Telegram', {'event_category':'Join Telegram Click','event_label':'{{include.path}}'});">Join the chat with Bot.</a>
    </p>
</div>
<style type="text/css">
    div#change {
        margin: 2em 0 !important;
        padding: 1em;
        color: #494e52;
        font-family: Georgia,Times,serif;
        font-size: .75em !important;
        text-indent: initial;
        background-color: #ecf6ec;
        border-radius: 4px;
        box-shadow: 0 1px 1px rgba(63,166,63,0.25);
    }
</style>