---
layout: default
---

<article class="post">
  <h1>{{ page.title }}</h1>
  <div class="date">
    Written on {{ page.date | date: "%B %e, %Y" }}
  </div>
  <div class="post-categories">
    {% if post %}
      {% assign categories = post.categories %}
    {% else %}
      {% assign categories = page.categories %}
    {% endif %}
    <strong style="align:right;">
        Categories:
    </strong>
    {% for category in categories %}
        <a href="{{site.baseurl}}/categories/#{{category|slugize}}"> {{category}}</a>
      {% unless forloop.last %}&nbsp;{% endunless %} <strong>|</strong>
    {% endfor %}
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- ranvirsingh.me -->
    <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-1291724895555434"
        data-ad-slot="5835253640"
        data-ad-format="auto"></ins>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
  </div>

  <div class="entry">
    {{ content }}
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- ranvirsingh.com -->
    <ins class="adsbygoogle"
         style="display:block"
         data-ad-client="ca-pub-1291724895555434"
         data-ad-slot="1544464588"
         data-ad-format="auto"></ins>
    <script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
  </div>


  {% include disqus.html %}
</article>
