---
layout: default
---

{% include left_sidebar.html %}

<article class="post">
  <h1>{{ page.title }}</h1>

  <div class="author" style="font-size: 0.8em;">
    {% if page.author_username and page.author_username != blank and page.author_name and page.author_username != blank %}
      <a href="{{ site.baseurl }}/{{ page.author_username }}">{{ page.author_name }}</a> &middot; {% include read_time.html content=page.content %}
    {% else %}
    {% include read_time.html content=page.content %}
    {% endif %}
  </div>

  <div class="post-categories">
    {% if post %}
      {% assign categories = post.categories %}
    {% else %}
      {% assign categories = page.categories %}
    {% endif %}
    {% for category in categories %}
      <a href="{{site.baseurl}}/categories/#{{category|slugize}}"
      style="background: #4CAF50; color: #fff; text-decoration: none; padding: 2px 13px; border-radius: 50px; font-size: 14.5px;"> {{category}}</a>
    {% endfor %}
  </div>

  <div class="entry">
    <br>
    {% assign content_para = content | split: "<p>" %}
    {% for para in content_para %}
      {{para}}
      {% if forloop.index == 3 %}
        {% include toc.html content=page.content skip_toc=page.skip_toc %}
      {% endif %}
      {% assign para_number = forloop.index | modulo: 10 %}
      {% if para_number == 0 and page.show_ads %}
        <div style="padding: 10px; padding-right: 20px; padding-left: 10px; border: 1px solid #ccc;">
          <ins class="adsbygoogle"
               style="display:block; text-align:center;"
               data-ad-layout="in-article"
               data-ad-format="fluid"
               data-ad-client="ca-pub-1291724895555434"
               data-ad-slot="5516822896"></ins>
          <script>
               (adsbygoogle = window.adsbygoogle || []).push({});
          </script>
        </div>
        <br>
      {% endif %}
      {% assign para_number_telegram = forloop.index | modulo: 10 %}
      {% if para_number_telegram == 0 and page.show_telegram_signup %}
        {% include telegram.html %}
      {% endif %}
    {% endfor %}
  </div>

  {% include share-bar.html %}

  <div class="original_source">
    {% if page.author_username and page.author_username != blank and page.author_name and page.author_username != blank and page.canonical_url %}
      Original Source: <a href="{{ page.canonical_url }}">Original Post</a>
    {% endif %}
  </div>

  <div class="relatedPosts">

    <h4>You May Also Enjoy</h4>

    {% assign maxRelated = 4 %}
    {% assign minCommonTags =  2 %}
    {% assign maxRelatedCounter = 0 %}
    {% for post in site.posts %}

      {% assign sameTagCount = 0 %}
      {% assign commonTags = '' %}

      {% for category in post.categories %}
        {% if post.url != page.url %}
          {% assign contains_data = page.categories contains category %}
          {% if page.categories contains category %}
            {% assign sameTagCount = sameTagCount | plus: 1 %}
            {% assign tagmarkup = category %}
            {% assign commonTags = commonTags | append: tagmarkup %}
          {% endif %}
        {% endif %}
      {% endfor %}

      {% if sameTagCount >= minCommonTags %}
        <div>
          <h5>{{maxRelatedCounter | plus: 1}}. <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h5>
        </div>
        {% assign maxRelatedCounter = maxRelatedCounter | plus: 1 %}
        {% if maxRelatedCounter >= maxRelated %}
          {% break %}
        {% endif %}
      {% endif %}

    {% endfor %}

  </div>
  <div class="container">
    {% include feedback.html %}
  </div>
  <br>
  {% include disqus.html %}
  {% if site.sidebar %}
    {% include sidebar.html %}
  {% endif %}
</article>
