---
layout: default
---

<article class="post">
  <h1>{{ page.title }}</h1>

  <div class="date">
    {{ page.date | date: "%B %e, %Y" }} &middot; {% include read_time.html content=page.content %}
  </div>

  <div class="post-categories">
    {% if post %}
      {% assign categories = post.categories %}
    {% else %}
      {% assign categories = page.categories %}
    {% endif %}
    <strong style="align:right;">
        Categories:
    </strong>
    {% for category in categories %}
        <a href="{{site.baseurl}}/categories/#{{category|slugize}}"> {{category}}</a>
      {% unless forloop.last %}&nbsp;{% endunless %} <strong>|</strong>
    {% endfor %}
  </div>

  <div class="entry">
    {% include share-bar.html %}
    {% assign content_para = content | split: "<p>" %}
    {% for para in content_para %}
      {{para}}
      {% assign para_number = forloop.index | modulo: 15 %}
      {% if para_number == 0 %}
        <div style="padding: 10px; padding-right: 20px; padding-left: 10px; border: 1px solid #ccc;">
          <ins class="adsbygoogle"
               style="display:block; text-align:center;"
               data-ad-layout="in-article"
               data-ad-format="fluid"
               data-ad-client="ca-pub-1291724895555434"
               data-ad-slot="5516822896"></ins>
          <script>
               (adsbygoogle = window.adsbygoogle || []).push({});
          </script>
        </div>
        <br>
      {% endif %}
    {% endfor %}
  </div>
  <div class="relatedPosts">

    <h4>You May Also Enjoy</h4>

    {% assign maxRelated = 4 %}
    {% assign minCommonTags =  2 %}
    {% assign maxRelatedCounter = 0 %}
    {% for post in site.posts %}

      {% assign sameTagCount = 0 %}
      {% assign commonTags = '' %}

      {% for category in post.categories %}
        {% if post.url != page.url %}
          {% assign contains_data = page.categories contains category %}
          {% if page.categories contains category %}
            {% assign sameTagCount = sameTagCount | plus: 1 %}
            {% assign tagmarkup = category %}
            {% assign commonTags = commonTags | append: tagmarkup %}
          {% endif %}
        {% endif %}
      {% endfor %}

      {% if sameTagCount >= minCommonTags %}
        <div>
          <h5>{{maxRelatedCounter | plus: 1}}. <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h5>
        </div>
        {% assign maxRelatedCounter = maxRelatedCounter | plus: 1 %}
        {% if maxRelatedCounter >= maxRelated %}
          {% break %}
        {% endif %}
      {% endif %}

    {% endfor %}

  </div>
  <div class="container">
    {% include subscribe.html %}
  </div>
  <hr><br>
  {% include disqus.html %}
  {% include sidebar.html %}
</article>
